{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Ironman</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore illum hic vero vitae, odio molestias
            voluptatem perferendis ipsam officiis voluptates soluta laudantium repudiandae. Repellendus ab at
            voluptates, placeat mollitia enim.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/ironman.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}